name: unihub-auth-service

version: "3.9"

services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: unihub-auth-service
    ports:
      - "8001:8001"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - PORT=8001
      - MONGO_URI=mongodb://mongo:27017/authdb
      - JWT_SECRET=devsecret
      - KAFKA_BROKERS=kafka:9092
      - KAFKA_CLIENT_ID=auth-service
    depends_on:
      - mongo
      - kafka

  mongo:
    image: mongo:6
    container_name: unihub-auth-mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: unihub-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: unihub-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

volumes:
  mongo_data:
